<ul class="list-group" id="listGroup">

  <% lists.each do |list| %>

      <li class="list-group-item">
        <a href="/lists/<%= list.id %>">
          <h4 class="list-group-item-heading"><b><%= list.name %></b> <span class="badge badge-danger pull-right"><%= list.items.where('is_complete is NULL').count %></span></h4>
          <h6 class="list-group-item-text">Created on 07/11/2015. <%= list.items.count %> items in the list.</h6>
        </a>
      </li>

  <% end %>

</ul>

