<div class="container">

  <h3><b>Sign Up</b></h3>

  <style>
      .alert {
          padding: 8px 35px 8px 14px;
          margin-bottom: 18px;
          color: #c09853;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
          background-color: #fcf8e3;
          border: 1px solid #fbeed5;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
      }

      .alert-heading {
          color: inherit;
      }

      .alert .close {
          position: relative;
          top: -2px;
          right: -21px;
          line-height: 18px;
      }

      .alert-danger,
      .alert-error {
          color: #b94a48;
          background-color: #f2dede;
          border-color: #eed3d7;
      }
  </style>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

      <%= devise_error_messages! %>

      <div class="form-group">
        <label for="user_name" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
          <input class="form-control input-lg" autofocus type="text" placeholder="Enter your name" name="user[name]" id="user_name">

          <div class="help-block with-errors"></div>
        </div>
      </div>


      <div class="form-group">
        <label for="user_email" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
          <input class="form-control input-lg" type="email" value="" name="user[email]" id="user_email" placeholder="Enter your email">

          <div class="help-block with-errors"></div>
        </div>
      </div>


      <div class="form-group">
        <label for="user_password" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input class="form-control input-lg" autocomplete="off" type="password" name="user[password]" id="user_password" placeholder="Create a password"/>

          <div class="help-block with-errors"></div>
        </div>
      </div>


      <div class="form-group">
        <label for="user_password" class="col-sm-2 control-label">Password Confirmation</label>

        <div class="col-sm-10">
          <input class="form-control input-lg" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Re-enter your password"/>

          <div class="help-block with-errors"></div>
        </div>
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">Sign Up</button>
      </div>


  <% end %>

  <p>&nbsp;</p>
  <%= render "devise/shared/links" %>
  <p>&nbsp;</p>

</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#new_user").validate({
            rules: {
                'user[name]': {
                    required: true,
                    minlength: 3
                },
                'user[email]': {
                    required: true,
                    minlength: 8,
                    email: true
                },
                'user[password]': {
                    required: true,
                    minlength: 8
                }
            },

            // Messages for form validation
            messages: {
                'user[name]': {
                    required: 'Please make sure your name is filled in.'
                },
                'user[email]': {
                    required: 'Please make sure your email is filled in.',
                    email: 'Please make sure your email is VALID.'
                },
                'user[password]': {
                    required: 'Please enter your current password so we can validate your request.',
                    minlength: 'Password is too short.'
                }
            }
        });

    });

</script>
