<div class="jumbotron btn-primary" >
  <div class="container">

    <table border="0" width="100%">
      <tr>
        <td width="21.36752%" class="hidden-xs">
          <i class="fa fa-list" style="font-size: 7em;"></i></td>
        <td>
          <center>
          <p>Let's get a better handle on</p>
          <h1><b>All Our Lists</b></h1>

          <p style="margin-top:20px;margin-bottom:0;padding-bottom:0;">
            <a class="btn btn-lg btn-success" id="btn-white-border" href="/users/sign_in">Already registered? Sign in!</a>
            &nbsp;&nbsp;
            <a class="btn btn-lg btn-success" id="btn-white-border" href="/users/sign_up">Want to try it out? Sign up!</a>
          </p>
            </center>
        </td>
        <td width="21.36752%" class="hidden-xs">
          <i class="fa fa-check-square" style="font-size: 7em;"></i></td>
      </tr>
    </table>

  </div>
</div>

<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-9">

        <div class="col-md-10 col-md-offset-3">
          <div class="page-header">
            <h2 style="color:#3ba0ff"><b>Manage Everything</b></h2>
          </div>
          <p>
            Organize your work projects, household lists, and grocery shopping. Because i's easy to use, it is super
            easy to manage all your lists.
            <br>
          </p>

          <div class="row">
            <div class="col-md-12">

              <!-- 240x160
                [ ] todo list
                [ ] party planning
                [ ] grocery list
                [ ] vacation checklist
                -->

              <div id="gallery">
                <div class="row">
                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="Todo List" data-gallery>
                      <img src="/images/todo-list.jpeg"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="New Todo List" data-gallery>
                      <img src="/images/todo-list-new.png"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="Shopping List" data-gallery>
                      <img src="/images/shopping-list.jpg"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="New Shopping List" data-gallery>
                      <img src="/images/shopping-list-new.png"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="Party Checklist" data-gallery>
                      <img src="/images/party-checklist.jpg"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="New Party Checklist" data-gallery>
                      <img src="/images/party-planning-new.png"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="Beach Trip Checklist" data-gallery>
                      <img src="/images/Beach-Trip-Checklist.jpg"></a>
                  </div>

                  <div class="col-sm-3 col-xs-6">
                    <a href="#" title="New Beach Trip Checklist" data-gallery>
                      <img src="/images/vacation-planning-new.png"></a>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">

        <div class="col-md-10 col-md-offset-3">
          <div class="page-header">
            <h2 style="color:#3ba0ff"><b>Access Lists and Items Everywhere</b></h2>
          </div>
          <p>
            Working seamlessly across all web platforms including Android, iPhone and Web, you can keep track of your
            tasks anywhere.
            <br/>
          </p>

          <p>
            <center>
                <img src="images/devices.png"/>
            </center>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">

        <div class="col-md-10 col-md-offset-3">
          <div class="page-header">
            <h2 style="color:#3ba0ff"><b>Share Any List</b></h2>
          </div>
          <p>
            Whether it is a work project, a plan for travel, or a shopping list, you can share with others and achieve
            more.
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">

        <div class="col-md-10 col-md-offset-3">
          <div class="page-header">
            <h2 style="color:#3ba0ff"><b>How does it work?</b></h2>
          </div>

          <p>Keep any lists you want. Whatever works best for you.</p>
          <p>&nbsp;</p>

          <h4><span class="badge" style="font-size: 2em;">1</span> &nbsp; <b>Make a list</b></h4>

          <p style="padding-left:25px">Create a list. You'll see a list of all your lists. When you first sign up, we
            create a starter list for you.</p>

          <p>&nbsp;</p>

          <h4><span class="badge" style="font-size: 2em;">2</span> &nbsp; <b>Share a list</b></h4>

          <p style="padding-left:25px">Invite others to your list. Keep track of the progress on the list. </p>

          <p>&nbsp;</p>

          <h4><span class="badge" style="font-size: 2em;">3</span> &nbsp; <b>Work a list</b></h4>

          <p style="padding-left:25px">Start checking things off of a list. Anyone invited can too!</p>

          <p>&nbsp;</p>

          <h4><span class="badge" style="font-size: 2em;">4</span> &nbsp; <b>Develop positive habits</b></h4>

          <p style="padding-left:25px">Besides the structure there's also the gameification! Earn badges as you check
            more and more items.</p>

          <p>&nbsp;</p>

          <h4><span class="badge" style="font-size: 2em;">5</span> &nbsp; <b>Instill positive values</b></h4>

          <p style="padding-left:25px">Earn a real sense of accomplishment. </p>

        </div>

      </div>
    </div>

  </div>
  <div class="col-md-3">
  </div>
</div>
</div>
