<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-9">

        <div class="col-md-10 col-md-offset-3">
          <div class="page-header">
            <h2 style="color:#3ba0ff"><b>Privacy Policy</b></h2>
          </div>
          <p>
            Effective Date: May 7, 2014
          </p>

          <p>
            The following information comprises the Privacy Policy ("Privacy Policy"), which informs you of any intended
            uses of any
            information you submit to Strategem Alliance LLC. This includes any and all information, including "Personal
            Information"
            such as name, email address, credit card information, and all other public, non-public and anonymous
            information we collect
            from you by any method or means.
          </p>

          <h3>Acceptance of Privacy Policy</h3>

          <p>
            By using the Site or any Service we provide, you ("you", "the user") or the person accessing our site and
            services,
            including any other person or company whose behalf you are accessing our site and services for, are agreeing
            to this
            Privacy Policy, as well as our Terms of Use, which is made available at: http://strategemalliance.com.
            This Privacy Policy should be checked regularly for updates, and your continued use of the site and services
            indicates your continued acceptance of this and any future Privacy Policy. If you do not agree or consent to
            this
            Privacy Policy, immediately discontinue the use of our site and do not use any of our services offered
            through our site.
          </p>

          <h3>Collection of Personal Information</h3>

          <p>How information is collected:</p>

          <p>When you interact with our site in anyway, including but not limited to: creating an account, registering
            information,
            subscribing to emails, contact us or making purchases through the site, we ask you for Personal Information.
            Strategem Alliance LLC may keep information relating to how you use the site, including, but not limited to,
            what pages
            you view and transactions you attempt or complete. Cookies and other related technology may be utilized to
            collect
            information about your interaction with our site. Personal Information may also be collected through third
            parties in
            order to give us additional information to enhance the service we provide you.

          <h3>What information is collected</h3>

          <p>Email Address: Provided to us in conjunction with registering an account, or through contacting us in any
            way.</p>

          <p>Other Contact Information: Including but not limited to: name, mailing address, telephone numbers, fax
            numbers, social media and other third-party username and account information.</p>

          <p>Technology Related Information: Information provided by your Internet browser. IP addresses, cookies and
            any and all future technology related information.</p>

          <p>Demographics: Any demographic or psychographic information including but not limited to : age, gender,
            income, location and social relationships.</p>

          <p>Browsing and Transaction Information: Including but not limited to any way in which you interact with our
            site, or make purchases on our site.</p>

          <h3>Use of Information</h3>

          <p>In general, your Personal Information is used for the following purposes.</p>

          <ul>
            <li>Internal record keeping</li>
            <li>Improving, Analyzing and Tracking our Site and Services</li>
            <li>Marketing and Promotion</li>
            <li>Emails and social media contact</li>
            <li>Prevent fraud</li>
            <li>Enforce our Terms of Use</li>
            <li>Corporate Obligations</li>
            <li>Provide help and support to you or our employees</li>
          </ul>

          <h3>Disclosure of Information</h3>
          You may request details of personal information, which we hold about you under the Data Protection Act 1998. A
          small fee will
          be payable. If you would like a copy of the information held on you please contact us using the information
          provided
          on our Contact Us page.

          At any time, you may access or update your account and contact information under your account preferences.

          If you believe that any information we are holding on you is incorrect or incomplete, please contact us and we
          will promptly correct any information found to be incorrect.

          <h3>Security</h3>
          We take the protection and security of your Personal Information very seriously. We use a variety of
          technological and industry standard processes and procedures to help safe guard this information. Financial
          information will be stored using industry standard encryption technology. However, you understand that no
          process or procedures by any company can ever fully eliminate all risks associated with your Personal
          Information.

          <h3>Third Party Privacy and External Links</h3>
          Our site may contain links to other websites of interest. However, once you have used these links to leave our
          site, you should note that we do not have any control over that other website. Therefore, we cannot be
          responsible for the protection and privacy of any information which you provide whilst visiting such sites and
          such sites are not governed by this privacy statement. You should exercise caution and look at the privacy
          statement applicable to the website in question.

          We use third-party advertising companies to serve ads when you visit our Website. These companies may use
          information about your visits to this and other Web sites in order to provide advertisements about goods and
          services of interest to you. If you would like more information about this practice and to know your choices
          about not having this information used by these companies, click here. Please note that this is in no way
          related to any information we collect from you. We do not share any of your Personal Information we collect
          with these companies.

          <h3>Modification of this Privacy Policy</h3>
          Strategem Alliance LLC reserves the right at all times to discontinue or modify this Privacy Policy as we
          reason necessary or desirable at any time. In the event that we make a modification to our site, which will
          significantly affect your use of the site or our service, we will notify you through the email address
          registered to your account and/or by posting a notice of such change on our site. In the event that there are
          any changes to the Privacy Policy, they will become effective immediately for any continued use of the site,
          and new activity on the site, but will not become retroactive. These changes will be effective immediately for
          any new user to our site and for all activity, which takes place after the Privacy Policy, has changed. We
          strongly suggest that you continuously revisit our Privacy Policy occasionally in order to ensure that you are
          informed of the current Privacy Policy for our site. Your use of our site following an update to our Privacy
          Policy constitutes your acceptance of the modified Privacy Policy.

        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>
