<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-9">

        <div class="col-md-10 col-md-offset-3">
          <div class="page-header">
            <h2 style="color:#3ba0ff"><b>Terms of Use</b></h2>
          </div>
          <p>
            Effective Date: May 7, 2014
          </p>

          <p>
            Welcome to AllOurLists. The following terms and conditions form a binding agreement between you and
            allourlists.com (“Site”, “Service”, “we”, “us” or “our”). Please take the time to review these terms.
          </p>

          <h3>Acceptance of Terms of Use</h3>

          <p>
            By using the Site or any Service we provide, you ("you", "the user") or the person accessing our Site and Services, including
            any other person or company whose behalf you are accessing our Site and Services for, are agreeing to these terms,
            as well as our Privacy Policy, and any additional terms associated with certain programs you elect to partake in with
            respect to our Site (collectively, the "Terms of Use"). These terms should be checked regularly for updates, and your
            continued use of the Site and our Service indicates your continued acceptance of these and any future terms. If you do
            not agree with our Terms of Use, immediately discontinue the use of our Site and do not use any of our Services offered through our Site.
          </p>

          <h3>Conditions of Use for Our Site and Services</h3>

          <p>The permission granted to you to use our Site and Services are conditional upon the following, which you agree to:

            Comply at all times with our Terms of Use while using this Site.
            Hold the authority to enter into a binding legal obligation.
            Comply with the letter and spirit of the terms of each offer.
            If you elect to create an account with allourlists.com, you do so under the following conditions, which you agree to:

            Be an individual of at least 18 years of age.
            Create only one user account for your sole use.
            Provide accurate personal or business information about you (at registration and all future interactions with members and staff); and that all such information is true, accurate, current, and complete.
            Protect the identity of your password, maintain supervision of your account with our Site, and understand and agree that you are solely responsible for the use of our Site, or the use of our Site by anyone who uses our Site under your user account profile.</p>


        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>
