<p>Hi <%= @user.name %>!</p>

<p>
  <%= @list_owner.name %> has invited you to share in the list called <i><%= @list.name %></i>.
</p>

<p>
  You can access the list <a href="<%= @url %>">here</a>.
</p>

<p>
  Thank you for using allourlists.com!
</p>